{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Log-in" %}</h3>

            <p>{% blocktrans %}Welcome to Dividend Dynamics blog. If you want to leave a comment or like a blog post, please log in. 
                If you do not have an account yet, then <a class="link" href="{{ signup_url }}">Sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div> 
        
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
                
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
      
        <button class="btn landing-btn mt-5 d-block mx-auto w-25" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
</div> 

{% endblock %}