* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headline: rgb(0,60,120); /*  */
    --text: rgb(200,200,220); /*  */
    --text2: rgb(0,0,0);
    --background: rgba(200,230,255); /*  */
    --alternate-bg: rgb(120,120,120); /* cool-gray */
}



body {
    background-color: var(--background);
}

.brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--headline);
}

/*-------------------------------------------------------------------------
                        Styling of blog cards
---------------------------------------------------------------------------*/

.author-bg {
    background: var(--alternate-bg);
}

.author {
    color: var(--text);
    font-weight: bold;
    margin: 4px;
    color: var(--text2);
}

.link-to-post {
    text-decoration: none;
    color: var(--headline);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    color: var(--headline);
}

.post-subtitle {
    margin-left: 5%;
    color: var(--text);
}

/*-------------------------------------------------------------------------
                        Styling of pagination "Next"/"Previous"
---------------------------------------------------------------------------*/

.page-link{
    color: var(--headline);
    font-weight: bold;
    background: transparent;
    border: none;
    font-size: 1.2rem;
}

.page-link:hover {
    color: var(--headline);
    text-decoration: none;
    background: transparent;
}

.pagination-item{
    border-radius: 20%;
    margin: 0 5px;
    padding: 0.8rem;
    background-color: var(--background);
}
.pagination-item:hover {
    background-color: var(--background);
    border: 1px solid var(--headline);
}