* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headline: rgb(42, 42, 72); /* space-cadet/blue color */
    --text: rgb(118, 118, 133); /* slate-gray */
    --text2: rgb(236, 231, 231);
    --background: rgba(82, 82, 82, 0.2); /* davys-gray */
    --alternate-bg: rgb(166, 166, 201); /* cool-gray */
}



body {
    background-color: var(--background);
}

.brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--headline);
}

/*-------------------------------------------------------------------------
                        Styling of blog cards
---------------------------------------------------------------------------*/

.author-bg {
    background: var(--alternate-bg);
}

.author {
    color: var(--text);
    font-weight: bold;
    margin: 4px;
    color: var(--text2);
}

.link-to-post {
    text-decoration: none;
    color: var(--headline);
}

.link-to-post:hover,
.page-link {
    color: var(--alternate-bg);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    color: var(--headline);
}

.post-subtitle {
    margin-left: 5%;
    color: var(--text);
}
