{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ post.headline }} - Dividend Dynamics
{% endblock %}

{% block content %}
<div class="container my-5 jumbotron bg-light rounded">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="card-title my-5">{{ post.headline }}</h1>
            <p class="text-muted">
                By {{ post.writer.username }} | Published on {{ post.published_date|date:"F j, Y" }}
            </p>
            <div class="card-text">
                {{ post.body|safe }}
            </div>
            <p class="text-muted mt-3">
                Last updated on {{ post.last_modified|date:"F j, Y, g:i a" }}
            </p>
            <div class="col-12">
                <strong>
                  <i class="far fa-comments"></i> {{ comment_count }}
                </strong>
              </div>         
        </div>
    </div>

    <!-- Comments and Comment Form Section -->
    <div class="row mt-4">
    
    <!-- Comments Section -->
    <div class="col-md-6"> <!-- This is the FIRST column on the left for the comments in the comment form -->
        <h3>Comments:</h3>
        <div class="card mb-4">
            <div class="card-body">
                <!-- Django messages framework for message "comment is awaiting approval" -->
                {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                
                <!-- Comments that have already been approved by admin are shown here -->
                {% for comment in comments %}
                    <div class="p-2 comments{% if not comment.approved and comment.commentator == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="font-weight-bold">
                            {{ comment.commentator }} <span>{{ comment.comment_date|date:"F j, Y, g:i a" }}</span> wrote:
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.comment_text|linebreaks }}
                        </div>

                        <!-- Edit previous comment button -->
                        {% if comment.commentator == user %}
                            <a href="{% url 'comment_edit' post.slug comment.id %}" class="btn landing-btn d-block mx-auto w-50 custom-link common-btn">Edit</a>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No comments yet. Be the first to comment!</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Comment Form Section / here new comments can be made -->
    <div class="col-md-6"> <!-- This is the SECOND column in the make comment section -->
        <h3>Leave a comment:</h3>
        <div class="card mb-4">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1rem;">
                        {% csrf_token %}
                        <textarea name="comment_text" class="form-control" rows="4" required placeholder="Write your comment here..."></textarea>
                        <button id="submitButton" type="submit" class="btn landing-btn my-5 d-block mx-auto w-100 common-btn">Submit</button>
                    </form>

                    <!-- Display comments by a user regardless of the approval status and only user who submitted can see the comment -->
                    {% for comment in user_comments %}
                        <div class="comment">
                            <p>{{ comment.comment_text }}</p>
                            {% if comment.approved %}
                                <p class="approval-success">Approved</p>
                            {% else %}
                                <p class="pending-approval">Pending Approval</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Please register or log in to create a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    <!-- Comment to edit with rendering edit comment -->

    {% if comment_to_edit %}
        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Edit Comment</h3>
                <form method="post" action="{% url 'comment_edit' post.slug comment_to_edit.id %}">
                    {% csrf_token %}
                    <textarea name="comment_text" class="form-control" rows="4" required placeholder="Write your comment here...">{{ comment_to_edit.comment_text }}</textarea>
                    <button type="submit" class="btn btn-primary">Update Comment</button>
                    <a href="{% url 'blogpost_detail' post.slug %}" class="btn btn-secondary common-btn">Cancel</a>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Button Link Back to Blog -->
    <a href="{% url 'blog_index' %}" class="btn landing-btn d-block mx-auto w-50 custom-link mb-5 common-btn">Back to all Posts</a>
</div>

{% endblock %}
