{% extends 'base.html' %}

{% block title %}
    {{ post.headline }} - Dividend Dynamics
{% endblock %}

{% block content %}
<div class="container my-5 jumbotron bg-light rounded">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            
            <h1 class="card-title my-5">{{ post.headline }}</h1>

            <p class="text-muted">
                By {{ post.writer.username }} | Published on {{ post.published_date|date:"F j, Y" }}
            </p>

            <div class="card-text">
                {{ post.body|safe }}
            </div>

            <p class="text-muted mt-3">
                Last updated on {{ post.last_modified|date:"F j, Y, g:i a" }}
            </p>

        <!-- Comments Section -->
        
        <!-- Show the number of comments -->
            <div class="row">
                <div class="col-12">
                    <strong class="text-secondary">
                        <i class="far fa-comments"></i> {{ comment_count }}
                    </strong>
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
        
            <!-- Displaying Comments -->
<div class="row">
    <div class="col-md-8 card mb-4 mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- The 'comments' is the context variable passed on via the views.py / this is then iterated  -->
            {% for comment in comments %}
            <div class="p-2 comments{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }} <!-- Consider using {{ comment.commentator.username }} to get the username -->
                    <span>
                        {{ comment.created_on|date:"F j, Y, g:i a" }} <!-- Format date for better readability -->
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body|linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">This comment is awaiting approval</p>
                {% endif %}
                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3 ">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form|crispy %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>
</div>

            <!-- Button Link Back to Blog | same as landing.html button -->
            <a href="{% url 'blog_index' %}" class="btn landing-btn my-5 d-block mx-auto w-50">Back to all Posts</a>
        </div>
    </div>
</div>
{% endblock %}