{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Block content for 404 inserted into base.html -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <article class="jumbotron bg-light p-5 rounded text-center">
                <header>
                    <h1 class="display-4">404 - Page Not Found</h1>
                    <p class="lead">Sorry, the page you are looking for does not exist.</p>
                    <hr class="my-4">
                </header>
                <p class="landing-text">It seems you've reached a page that doesn't exist. Click here to get back on track.</p>
                
                <a href="/" class="btn landing-btn mt-4 d-block mx-auto custom-link">Return to Home</a>
            </article>
        </div>
    </div>
</div>
<!-- End of block content for 404.html -->

{% endblock %}
