{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <title>{% block title %}Welcome to Dividend Dynamics - Maximize Your Income and Growth{% endblock %}</title>

  <!-- Description -->
  <meta name="description" content="Dividend Dynamics helps you maximize your income and capital growth through insights on dividend stocks, offering strategies for regular income, capital appreciation, reinvestment opportunities, and financial stability.">

  <!-- Keywords -->
  <meta name="keywords" content="dividends, dividend stocks, capital growth, financial stability, investment strategies, income generation">

  <!-- Open Graph Tags for Social Media -->
  <meta property="og:title" content="Dividend Dynamics - Maximizing Your Income and Capital Growth">
  <meta property="og:description" content="Discover how Dividend Dynamics can help you grow your income and capital with our expert insights and strategies on dividend stocks.">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Favicon -->
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
  
</head>

<body class="d-flex flex-column h-100 main-bg">
  
  <!-- Message to user on successful login or successful logout -->
  {% if messages %}
  <div class="container my-3">
    {% for message in messages %}
        <div class="alert alert-custom alert-success-custom d-flex justify-content-between align-items-center alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="btn-close custom-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}" title="Click to return to the homepage">
          <img src="{% static 'images/logo.png' %}" alt="Site Logo">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'landing' %}">Home</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog_index' %}">Blog</a>
            </li>
    
<!-- Display the nav based on login-status/registration status of user. If logged in, the logout button shown, if not registered then register and login  -->
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
    
<!-- Message to user on login status in the same div navbar-collapse-->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li id="login-status" style="background-color: rgb(200, 230, 255); color: black; font-weight: bold; padding: 0.5rem 1rem; border-radius: 0.4rem; margin-left: 1rem;">
              {% if user.is_authenticated %}
                <span>You are logged in as {{ user.username }}</span>
              {% else %}
                <span>You are not logged in</span>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Main content -->
    <main class="flex-shrink-0">
        {% block content %}
        {% endblock %}
    </main>

<!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container text-center py-4">
          <div class="row">
              <div class="col-12">
                  <a href="https://www.linkedin.com" class="text-white mx-2" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                      <i class="fab fa-linkedin fa-2x"></i>
                  </a>
                  <a href="https://www.facebook.com" class="text-white mx-2" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                      <i class="fab fa-facebook fa-2x"></i>
                  </a>
                  <a href="https://www.instagram.com" class="text-white mx-2" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                      <i class="fab fa-instagram fa-2x"></i>
                  </a>
                  <span>© 2024 Dividend Dynamics</span>
              </div>
          </div>
      </div>
  </footer>
  
<!-- Bootstrap JavaScript / as this is needed for the modal in the delete comment modal-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>