{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <title>{% block title %}Welcome to Dividend Dynamics - Maximize Your Income and Growth{% endblock %}</title>

  <!-- Description -->
  <meta name="description" content="Dividend Dynamics helps you maximize your income and capital growth through insights on dividend stocks, offering strategies for regular income, capital appreciation, reinvestment opportunities, and financial stability.">

  <!-- Keywords -->
  <meta name="keywords" content="dividends, dividend stocks, capital growth, financial stability, investment strategies, income generation">

  <!-- Open Graph Tags for Social Media -->
  <meta property="og:title" content="Dividend Dynamics - Maximizing Your Income and Capital Growth">
  <meta property="og:description" content="Discover how Dividend Dynamics can help you grow your income and capital with our expert insights and strategies on dividend stocks.">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="{% url 'landing' %}">
          <span class="logo">Dividend Shares</span>
        </a>    
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == '/' %}active{% endif %}"
                aria-current="page"
                href="{% url 'landing' %}"
              >Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/blog/' %}active{% endif %}"
              href="{% url 'blog_index' %}"
              >Blog</a>           
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
              <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}         

          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <span id="login-status" class="nav-link">
                {% if user.is_authenticated %}
                You are logged in as {{ user.username }}
                {% else %}
                You are not logged in
                {% endif %}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Messages success/error for login/logout -->
  <div class="container mt-3">
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-custom alert-{{ message.tags }}-custom alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
  </div>

  <!-- Main content -->
    <main class="flex-shrink-0">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span>© 2024 Dividend Shares</span>
      </div>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
